[global]
keyboard = "{{ pve_keyboard }}"
country = "{{ pve_country }}"
fqdn = "{{ fqdn }}"
mailto = "{{ pve_mailto }}"
timezone = "{{ pve_timezone }}"
root_password = "{{ pve_root_password }}"
root_ssh_keys = [
{% for ssh_key in pve_root_ssh_keys %}
"{{ ssh_key }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "{{ filesystem }}"
disk_list = [ "{{ disk_list | join(',') }}" ] # List of disks to use (e.g., "sda", "nvme0n1")

[first-boot]
source = "from-url" 
url = "http://{{ pxe_server_ip }}/answers/first-boot.sh"
